.App {
  text-align: center;
}

body{
  background-image:url(./img/mtg.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment:fixed;
}

h1{
  color: black;
  text-shadow: 0 0 0.3em white, 0 0 0.3em white;
  font-weight: bold;
  text-align:center;
  padding-top:2.5em;
}

.radio{
  color: black;
  text-shadow: 0 0 0.3em white, 0 0 0.3em white;
  font-weight: bold;
  text-align:center;
  padding-top:2.5em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homeTitle{
  text-align: center;
}

.buttonLogin{
  text-align: right;
}



.login{
  border-radius: 50px;
  width: 50px;
  height: 20px;
  margin-right: 20px;
}

.button{
  margin-bottom: 20px;
}

.cardBox{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(260px, 1fr));
  /* display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content: space-between; */
}

.images{
  border: solid 5px white;
}